Data_IVL/vdata_NMDA_ApN0.5_13_Active_r2_o2_i2_g.bin
Data_IVL/vdata_NMDA_ApN0.5_13_Adend_r2_o2_i2_g.bin
Data_IVL/vdata_NMDA_ApN0.5_13_AdendRand_r2_o2_i2_g.bin
Data_IVL/vdata_NMDA_ApN0.5_13_Passive_r2_o2_i2_g.bin
